<div class="day-config-container">
	<div class="character-info">Name/Race/Energy Remaining/Class/Health Remaining</div>
	<div class="stats">
		Health
		Strength
		Speed
		Skill
	</div>
	<div class="tools">
		Can
		Pick Axe
		Wood Axe
		Pole
		Hoe
	</div>
	<div class="equipment">
		Armor
		Sword
		Shield
		Bow
	</div>
	<div class="supplies">
		Food
		Water?
		Bronze Ore
		Iron Ore
		Coal Ore
		Blakeite Ore
		Stone
		Wood
		String
		Health Potion
		Energy Potion
		Health Herbs
		Energy Herbs
		Animals?
	</div>
	<div class="craftables">
		boat
		house
		wagon
	</div>
	<div class="do-ations">
		<button>Do Action</button>
	</div>
	<div class="travel">
		<button>Travel</button>
	</div>
	<div class="see-map">
		<button>See Map</button>
	</div>
	<div class="sleep">
		<button>Sleep</button>
	</div>
</div>
